---
layout: page
title: Team
subtitle: Team members at Notre Dame HCI group. If you are interested in pursuing a PhD with us, <a
  href="https://cse.nd.edu/graduate/phd-in-computer-science-and-engineering/">please apply to Notre Dame CSE PhD
  program</a>.
roles:
- Faculty
- PhD Student
- Affiliated Professor
- Visiting PhD Student
- Visiting Student
- Masters Student
- Undergraduate Student
---

<h2>Faculty</h2>

<div class="flex flex-wrap">
  {% for person in site.people %}
  {% if person.role == "Faculty" %}
  {% unless person.alumni_since %}
  <div class="w-25-m w-20-l w-50 ph2 pv2">
    {% if person.website %}<a href="{{ person.website }}">{% endif %}
      <span{% if person.content %} title="Fun fact: {{ person.content }}" {% endif %}>
        <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
        <span class="black center">
          {{ person.name }}
        </span>
        </span>
        {% if person.website %}
    </a>{% endif %}
    <div class="gray center">({{ person.title }})</div>
  </div>
  {% endunless %}
  {% endif %}
  {% endfor %}
</div>

<h2>Graduate Students</h2>

<div class="flex flex-wrap">
  {% for person in site.people %}
  {% if person.role == "Graduate Student" %}
  {% if person.title == "PhD Student" %}
  {% unless person.alumni_since %}
  <div class="w-25-m w-20-l w-50 ph2 pv2">
    {% if person.website %}<a href="{{ person.website }}">{% endif %}
      <span{% if person.content %} title="Fun fact: {{ person.content }}" {% endif %}>
        <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
        <span class="black center">
          {{ person.name }}
        </span>
        </span>
        {% if person.website %}
    </a>{% endif %}
    <div class="gray center">({{ person.title }})</div>
  </div>
  {% endunless %}
  {% endif %}
  {% endif %}
  {% endfor %}

  {% for person in site.people %}
  {% if person.role == "Graduate Student" %}
  {% if person.title == "Master Student" %}
  {% unless person.alumni_since %}
  <div class="w-25-m w-20-l w-50 ph2 pv2">
    {% if person.website %}<a href="{{ person.website }}">{% endif %}
      <span{% if person.content %} title="Fun fact: {{ person.content }}" {% endif %}>
        <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
        <span class="black center">
          {{ person.name }}
        </span>
        </span>
        {% if person.website %}
    </a>{% endif %}
    <div class="gray center">({{ person.title }})</div>
  </div>
  {% endunless %}
  {% endif %}
  {% endif %}
  {% endfor %}
</div>

<h2>Undergraduates</h2>

<div class="flex flex-wrap">
  {% for person in site.people %}
  {% if person.role == "Undergraduate" %}
  {% unless person.alumni_since %}
  <div class="w-25-m w-20-l w-50 ph2 pv2">
    {% if person.website %}<a href="{{ person.website }}">{% endif %}
      <span{% if person.content %} title="Fun fact: {{ person.content }}" {% endif %}>
        <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
        <span class="black center">
          {{ person.name }}
        </span>
        </span>
        {% if person.website %}
    </a>{% endif %}
    <div class="gray center">({{ person.title }})</div>
  </div>
  {% endunless %}
  {% endif %}
  {% endfor %}
</div>

<h2>Visiting Scholars</h2>

<div class="flex flex-wrap">
  {% for person in site.people %}
  {% if person.role == "Visiting Scholar" %}
  {% unless person.alumni_since %}
  <div class="w-25-m w-20-l w-50 ph2 pv2">
    {% if person.website %}<a href="{{ person.website }}">{% endif %}
      <span{% if person.content %} title="Fun fact: {{ person.content }}" {% endif %}>
        <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
        <span class="black center">
          {{ person.name }}
        </span>
        </span>
        {% if person.website %}
    </a>{% endif %}
    <div class="gray center">({{ person.title }})</div>
  </div>
  {% endunless %}
  {% endif %}
  {% endfor %}
</div>

<h2>Alumni</h2>

<div class="flex flex-wrap">
  {% assign alumni = site.people | where_exp: 'p', 'p.alumni_since' %}
  {% assign sorted_alumni = alumni | sort: 'alumni_since' | reverse %}
  <div class="flex flex-wrap">
    {% for person in sorted_alumni %}
    <div class="w-25-m w-20-l w-50 ph2 pv2">
      {% if person.website %}<a href="{{ person.website }}">{% endif %}
        <span title="{{ person.name }} ({{ person.role }})">
          <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
          <span class="black center">
            {{ person.name }}
          </span>
          <span class="gray center">
            ({{ person.title }}, {{person.alumni_since}})
          </span>
        </span>
        {% if person.website %}</a>{% endif %}
    </div>
    {% endfor %}
  </div>
</div>